{% extends 'base_user.html' %}
{% load static %}
{% block right_content %}
            <h3 class="common_title2">全部订单</h3>
            {% for obj in page %}
                <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ obj.order.date|date:'Y-m-d H:i:s' }}</li>
                <li class="col02">订单号：{{ obj.order.id }}</li>
                {% if obj.order.isPay %}
                    <li class="col02 stress">已支付</li>
                {% else %}
                    <li class="col02 stress">未支付</li>
                {% endif %}
            </ul>

                <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                            {% for detail in obj.details %}
                                <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{% static 'goods' %}/{{ detail.goods.image }}"></li>
                                <li class="col02">{{ detail.goods.title }}<em>{{ detail.price }}元/{{ detail.goods.unit }}</em></li>
                                <li class="col03">{{detail.count  }}</li>
                                <li class="col04">{{ detail.price }}元</li>
                            </ul>

                            {% endfor %}
                        </td>
                        <td width="15%">{{ obj.order.total }}元</td>
                        <td width="15%">待付款</td>
                        <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}


            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/user/user_center_order/?index={{ page.previous_page_number }}&limit={{paginator.per_page }}"><上一页</a>
                {% endif %}
                {% for index in paginator.page_range %}
                    {% if index == page.number %}
                        <a href="/user/user_center_order?index={{ index }}&limit={{paginator.per_page }}" class="active">{{ index }}</a>
                    {% else %}
                        <a href="/user/user_center_order?index={{ index }}&limit={{paginator.per_page }}">{{ index }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="/user/user_center_order/?index={{ page.next_page_number }}&limit={{paginator.per_page }}" >下一页></a>
                {% endif %}
            </div>
{% endblock right_content %}

