{% extends 'df_goods/base_goods.html' %}
{% load staticfiles %}
{% block head %}
    <script>

           {#function addToCart() {#}
           {#    let amount = $('.num_show').val()#}
           {#     let csrfmiddleware = '{{ csrf_token}}';#}
           {#     $.post('/cart_handle', {'amount' : amount, 'id': {{ goods.id }}, 'csrfmiddlewaretoken': csrfmiddleware},function () {#}
           {#     })#}
           {# }#}
            function add() {
                let num = parseFloat($('.num_show').val());
                $('.num_show').val(num+1);
                $('.num_show').blur();

            }
            function minus() {
                let num = parseFloat($('.num_show').val());
                if (num <= 1) {
                    return
                }
                $('.num_show').val(num - 1);
                $('.num_show').blur();

            }
            $(function () {
                $('.num_show').blur(function () {
                    let numStr = $('.num_show').val();
                    if (numStr === ''){
                        numStr = '1';
                    }
                    let num = parseFloat(numStr);
                    let price = parseFloat($('.price').text());
                    let total = num* price;
                    $('.num_show').val(numStr)
                    $('.total_price').text(total.toFixed(2)+'元');
                })
            })
    </script>
{% endblock %}
{% block content %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="/list_{{ goods.category_id }}_1_1">{{ goods.category.title }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{% static 'goods' %}/{{ goods.image }}" width="333" height="333"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.title }}</h3>
			<p>{{ goods.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em class="price">{{ goods.price }}</em></span>
				<span class="show_unit">单  位：{{ goods.unit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" onkeyup="
					if(this.value.length === 1){
					    this.value=this.value.replace(/[^1-9]/g,'')
					}else
					    {
					        this.value = this.value.replace(/\D/g,'')
					}">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em class="total_price">{{ goods.price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in news %}
					<li>
						<a href="/{{ goods.id }}"><img src="{% static 'goods' %}/{{ goods.image }}"></a>
						<h4><a href="/{{ goods.id }}">{{ goods.title }}</a></h4>
						<div class="prize">￥{{ goods.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.detail | safe}}</dd>
				</dl>
			</div>

		</div>
	</div>
	<div class="add_jump"></div>

    <script type="text/javascript">

        let $add_x = $('#add_cart').offset().top;
		let $add_y = $('#add_cart').offset().left;

		let $to_x = $('#show_count').offset().top;
        let $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
            //判断是否登录，若未登录则提示登录
            if ($('.login_btn').text().indexOf('登录')>=0){
                alert('请先登录后再购买');
                location.href = '/user/login';
                return;
            }
            //动画
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
					});
			});
            //异步
            let amount = $('.num_show').val();
            $.get('/cart/add{{ goods.id }}_'+amount+'/',function (data) {
                if (data.status === 0){
                   history.go(0);
                }
            })
		})
	</script>
{% endblock content %}
