{% extends 'df_goods/base_goods.html' %}
{% load staticfiles %}
{% block head %}
    <script>
        $(function () {
            $('#sort_' + {{ sort }}).addClass('active')
        })

    </script>
{% endblock %}
{% block content %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ category.title }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in news %}
					<li>
						<a href="#"><img src="{% static 'goods' %}/{{ goods.image }}"></a>
						<h4><a href="#">{{ goods.title }}</a></h4>
						<div class="prize">￥{{ goods.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
                {% for title in sort_title %}
                    <a id="sort_{{ forloop.counter }}" href="/list_{{ category.id }}_{{ page.number }}_{{ forloop.counter }}">{{ title }}</a>
                {% endfor %}
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in page %}
				    <li>
					<a href="{{ goods.id }}"><img src="{% static 'goods' %}/{{ goods.image }}"></a>
					<h4><a href="{{ goods.id }}">{{ goods.title }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.price }}</span>
						<span class="unit">{{ goods.price }}/{{ goods.unit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
                    <a href="list_{{ category.id }}_{{ page.previous_page_number}}_{{ sort }}"><上一页</a>
                {% endif %}
                    {% for index in paginator.page_range %}
                        {% if index == page.number %}
                            <a href="list_{{ category.id }}_{{index}}_{{ sort }}" class="active">{{ index }}</a>
                        {% else %}
                            <a href="list_{{ category.id }}_{{index}}_{{ sort }}">{{ index }}</a>
                        {% endif %}
                    {% endfor %}
                {% if page.has_next %}
                    <a href="list_{{ category.id }}_{{ page.next_page_number }}_{{ sort }}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock  %}
