{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script>
        $(function () {
            $('#' + '{{selected}}').addClass('active')
        })
    </script>
{% endblock head %}

{% block middle %}

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a id="info" href="/user/user_center_info">· 个人信息</a></li>
                <li class="leftItem"><a id="order" href="/user/user_center_order">· 全部订单</a></li>
                <li><a id="site" href="/user/user_center_site">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            {% block right_content %}

            {% endblock %}
        </div>
    </div>
{% endblock middle %}